# API
# API development
API_BASE_URL=http://localhost:9001
# API production
# PUBLIC_API_BASE_URL=https://stg-be-tulip.prestisa.com
PUBLIC_API_BASE_URL=http://localhost:9001
# Development
NODE_ENV=development